// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$bg-rouge: #F8EAEA;
$bg-gray: #DBD8CE;
// Couleurs de la charte Heavent:
$creme: #F5F3EC;
$grey: #DBD8CE;
$black: #201E1E;
$red: #FADCDC;


