// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap");

@font-face {
  font-family: "Dahlia Medium Condensed";
  src: font-url("dahlia-mediumcondensed.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Dahlia Medium";
  src: font-url("dahlia-medium.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Dahlia Regular Condensed";
  src: font-url("dahlia-regularcondensed.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Dahlia Regular";
  src: font-url("dahlia-regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Dahlia Bold Condensed";
  src: font-url("dahlia-boldcondensed.otf") format("opentype");
  font-weight: bolder;
}

@font-face {
  font-family: "Dahlia Bold";
  src: font-url("dahlia-bold.otf") format("opentype");
  font-weight: bolder;
}

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Dahlia Medium Condensed", "Helvetica", "sans-serif";

.headers-primary {
  font-family: $headers-font;
}

.headers-secondary {
  font-family: $body-font;
  text-transform: uppercase;
  font-weight: 600;
}

.line-height-headers {
  line-height: 2.2rem;
}

.big-size-font {
  font-size: 30px;
}

.bigger-size-font {
  font-size: 72px;
}

.main-h1 {
  line-height: 3.6rem;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
