.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 50%;
  margin: 0 auto;
  width: 50%;
}

// .typing-text {
//  text-align: center;
//  font-family: $body-font;
// //  padding-top: 30px;
//  color: $black;
// }

.landing-title {
  font-size: 24px;
  border-bottom: 0px;
}
