.container {
  width: 100%;
  margin: 0 auto;
}

.event-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
}

.title {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 50px 15px 20px 15px;
  background-color: $bg-rouge;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 40px;
  position: relative;
}

.arrow_dahlia {
  font-size: 60px;
  line-height: 10px;
  font-family: "Dahlia Bold" !important;
}
.arrow_dahlia_left {
  position: absolute;
  top: 17px;
}

.toggle {
  transform: rotate(-90deg);
}

.toggle.arrow_dahlia_up {
  transform: rotate(+90deg);
}

.title_dahlia {
  font-size: 50px;
  font-family: "Dahlia Medium Condensed" !important;
}

.chapeau, .description {
  padding: 15px;
  background-color: $bg-gray;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 1px solid black;
  margin-bottom: 25px;
  > p {
    word-wrap: break-word;
  }
}

.description {
  display: none;
  border-left: none;
}

.component-image {
  img {
    width: 100%;
  }
}


.toggle {
  width: fit-content;
  cursor: pointer;
  color: black;
  border: none;
  padding: 10px;
  background-color: none;
  position: fixed;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  right: 10px;
  bottom: 100px;
  transition: transform 0.3s;
}


.show {
  display: block;
}

.wrapper-container {
  padding: 1rem 0;
  background-color: black;
}

.wrapper-image {
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}
