body{
  background-color: red;

}
.container {
  width: 80%;
}

.event-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
}

.title-container {
  text-align: center;
  padding: 15px;
  background-color: $bg-rouge;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.description-container {
  padding: 15px;
  background-color: $bg-gray;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  > p {
    word-wrap: break-word;
  }
}

.wrapper-container {
  padding: 1rem 0;
  background-color: black;
}
.wrapper-image{
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}
