<%= simple_form_for :filter, url: events_path, method: :get, data: { index_filters_target: "form" } do |f| %>
  <div class="filter-form pt-0">


    <%= f.input :tags,
      as: :check_boxes,
      collection: Event.all.pluck(:tags).flatten.uniq,
      label: "Catégories",
      input_html: { class: "tag-selector", data: { action: "click->index-filters#toggle", index_filters_target: "input" } },
                  item_wrapper_class: 'tag-item'
    %>

    <%= f.input :type_of_price,
      as: :check_boxes,
      collection: ["gratuit"],
      input_html: { class: "form-check-input", data: { action: "click->index-filters#toggle", index_filters_target: "priceInput" } },
      item_wrapper_class: 'form-check form-switch d-flex me-3 gap-2 align-items-center justify-content-end',
      label_html: { class: "form-check-label position-relative" }
    %>


  </div>

<% end %>
