<%= simple_form_for :filter, url: events_path, method: :get do |f| %>
  <div class="filter-form mb-3" >
    <%= f.input :tags,
      as: :check_boxes,
      collection: Event.all.pluck(:tags).flatten.uniq,
      input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item'
    %>
  </div>
  <%= f.submit %>

<% end %>
