<%= simple_form_for :filter, url: events_path, method: :get, data: { index_filters_target: "form" } do |f| %>
  <div class="filter-form mb-3" >

    <%= f.input :tags,
      as: :check_boxes,
      collection: Event.all.pluck(:tags).flatten.uniq,
      input_html: { class: "tag-selector", data: { action: "click->index-filters#toggle" } },
                  item_wrapper_class: 'tag-item'
    %>

    <%= f.input :type_of_price,
      as: :check_boxes,
      collection: ["gratuit"],
      input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item'
    %>


  </div>
  <%= f.submit %>

<% end %>
