    <%= render "filters" %>
<div class="container" data-controller="index-filters" style="padding-left: none">
  <div class="row">


    <div data-index-filters-target="results">
      <%= render "list", events: @events %>
    </div>

  </div>
</div>

