<div class="container" data-controller="index-filters">
  <div class="row">

    <%= render "filters" %>

    <div data-index-filters-target="results">
      <%= render "list", events: @events %>
    </div>

  </div>
</div>
