
<div class="container" data-controller="index-filters" style="padding-left: none">
  <div class="row mb-5">

    <%= render "filters" %>

    <div data-index-filters-target="results" class="mb-3 p-0">

      <%= render "list", events: @events %>
    </div>

  </div>
</div>
