<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<div class="container" data-controller="index-filters">
  <div class="row">

    <%= render "filters" %>

    

  <div class="list-group" style="border-left: 1px solid black">
    <% @events.each do |event| %>
      <%= link_to event_path(event.id), class: "coration-none list-group-item px-0 pt-0 list-group-item-action bg-$bg-rouge" do %>
        <div class="row" data-controller="favorite" style="border-top: 1px solid black; marigin: 20px">
          <div class="favorite" data-favorite-target="heart" data-action="click->favorite#toggleFavorite" data-event-id="<%=event.id%>" >
          <% if current_user.interests.find_by(event: event).present? %>
            <i class="fa-solid fa-heart favorited"></i>
          <% else %>
            <i class="fa-solid fa-heart"></i>
          <% end %>
          </div>


  </div>
</div>
