<%= link_to event_path(event), class:"outline-none" do %>
  <h2><%= event.title %></h2>
  <p><%= event.address %></p>
<% end %>
<%= link_to "See on maps", "https://maps.google.com/maps?q=#{event.address}", target: "_blank", class:"text-decoration-black see-on-maps" %>
