<div class="justify-content-center">
  <h1>QUELLE ACTIVITÉ VOUS INTÉRESSE ?</h1>
</div>

<div id="card">
  <%= image_tag "icons/eye.svg", class: "icon" %>
  <h2>Exposition</h2>
</div>
</div>

<div id="card">
  <%= image_tag "icons/music.svg", class: "icon" %>
  <h2>Musique</h2>
</div>

<div id="card">
  <%= image_tag "icons/mask.svg", class: "icon" %>
  <h2>Théâtre</h2>
</div>

<div id="card">
  <%= image_tag "icons/disco.svg", class: "icon" %>
  <h2>Danse</h2>
</div>
