<div class="container">
  <div data-controller="logo-effect">
    <%= embedded_svg('logo.svg') %>
  </div>

    <div class="d-flex align-items-center justify-content-center mx-auto" data-controller="typing" data-typing-text-value="All events only for you!">
    <p data-typing-target="text"></p>
  </div>
</div>

<meta HTTP-EQUIV="REFRESH" content="3; url=/events">
