<div class="wrapper">
    <div data-controller="logo-effect" class="logo">
      <%= embedded_svg('logo.svg') %>
    </div>
    <div>
    <h1 class="headers-primary border-none biggest-size-font mt-0">HEAVENT</h1>
    </div>

  <div class="btn-black mt-5 landing-justify">
      <%= link_to events_path, class:"weight-500 creme-color" do %>
        VOIR LES ÉVÉNEMENTS
        <%= image_tag "btns/arrow.svg", height: 24, width: 24 %>
      <% end %>
    </div>
  </div>
</div>
