<div class="wrapper">
  <div data-controller="logo-effect" class="logo">
    <%= embedded_svg('logo.svg') %>
  </div>
  <div>
  <h1 class="landing-title">HEAVENT</h1>
  </div>
  <div data-controller="typing" data-typing-text-value="All events, at the last minute, only for you." class="typing-text">
    <p data-typing-target="text"></p>
  </div>
  <div class="btn-landing "style="justify-content: center; align-items: center;">
    <%= link_to "VOIR LES ÉVÉNEMENTS", events_path %>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var eventsButton = document.getElementById("events-button");

    eventsButton.addEventListener("click", function() {
      eventsButton.style.backgroundColor = "$black";
    });
  });
</script>


<meta HTTP-EQUIV="REFRESH" content="6; url=/events">
