<div class="wrapper">
    <div data-controller="logo-effect" class="logo">
      <%= embedded_svg('logo.svg') %>
    </div>
    <div>
    <h1 class="headers-primary border-none biggest-size-font mt-0">HEAVENT</h1>
    </div>
    <%# <div data-controller="typing" data-typing-text-value="All events, at the last minute, only for you." class="typing-text">
      <p data-typing-target="text"></p> %>

  <div class="btn-black mt-5" style="margin-left:50px; margin-right:50px; justify-content: center; align-items: center;">
      <%= link_to events_path, style: "text-decoration: none; color: $creme;", class:"weight-500" do %>
        VOIR LES ÉVÉNEMENTS
        <%= image_tag "btns/arrow.svg", height: 24, width: 24 %>
      <% end %>
    </div>
  </div>
</div>
