<div class="wrapper">
  <div data-controller="logo-effect" class="logo">
    <%= embedded_svg('logo.svg') %>
  </div>
  <div data-controller="typing" data-typing-text-value="All events only for you!" class="typing-text">
    <p data-typing-target="text"></p>
  </div>
</div>

<meta HTTP-EQUIV="REFRESH" content="3; url=/events">

