<div style="width: 100%; height: 80vh;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="mt-1 border-top-custom d-flex justify-content-evenly align-items-center">
  <div class="d-flex flex-column align-items-center mt-1">
    <%= image_tag "markers/marker-any.svg", height: 30, width: 30, alt: "marker" %>
    <p class="m-0 weight-500">Les événements</p>
  </div>

  <div class="d-flex flex-column align-items-center">
    <%= image_tag "markers/marker-liked.svg", height: 30, width: 30, alt: "marker liked" %>
    <p class="m-0 weight-500">Vos favoris</p>
  </div>
</div>
