<div class="container">
  <h1 class="headers-primary bigger-size-font text-center index-h1 border-none">Vos favoris</h1>
</div>


<div class="container mb-5 pb-3">
  <div class="row mb-5">
  <% if @events.count == 0 %>
    <p>Vous n'avez pas encore ajouté d'Heavent culturels à vos favoris.</p>
  <% end %>
  <%= render "favorite_list", events: @events %>
  </div>

</div>
