.bg-no-affluence-data {
  background-color: aqua;
}

.bg-low-affluence {
  background-image: url("bg-patterns/bg-low-affluence-blue.svg") ;
}

.bg-below-average-affluence {
  background-image: url("bg-patterns/bg-below-average-affluence-peach.svg") ;
}

.bg-average-affluence {
  background-image: url("bg-patterns/bg-average-affluence-pink.svg");
}
