.bg-no-affluence-data {

}

.bg-low-affluence {
  background-image: url("../../images/bg-patterns/bg-no-affluence.svg") ;
}

.bg-below-average-affluence {
  background-image: url("../../images/bg-patterns/bg-below-average-affluence.svg") ;
}

.bg-average-affluence {
  background-image: url("../../images/bg-patterns/bg-avergage-affluence.svg");
}
