.border-left {
  border-left: 2px solid $black;
}

.border-top-custom {
  border-top: 2px solid $black;
}

.border-bottom-custom {
  border-bottom: 2px solid $black;
}

.border-none {
  border: none;
}
