$margin: 30px;

.margin-right-custom {
  margin-right: $margin;
}

.margin-left-custom {
  margin-left: $margin;
}

.margin-x-custom {
  margin-right: $margin;
  margin-left: $margin;
}

.size-custom-card {
  width: calc(100% - $margin);
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 18px;
  color: grey;
  font-family: "Work Sans", sans-serif;
}

h5 {
  text-transform: uppercase;
}
h3 {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
}

.favorite {
  // position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: $black;
}

.favorited {
  color: red;
}

.border-image {
  border-top-right-radius: none;
  border-top-left-radius: none;
  border: 1px;
}

.tags {
  border: 1px solid $black;
  border-radius: 30px;
  padding: 3px 14px;
  margin: 3px;
  font-size: 14px;
  line-height: 0.9rem;
  display: inline;
  width: fit-content;
}

.separateur {
  height: 1px;
  width: 100%;
  background-color: $black;
}

.background {
  background-color: $creme;
}

.card-custom {
  background: none;
  border: none;
  position: relative;
  display: block;
  text-decoration: none;

  h2 {
    font-size: 22px;
    line-height: 1.6rem;
  }

  .main-image-card {
    width: 100%;
    height: 150px;
    object-fit: cover;
    box-sizing: border-box;
    position: relative;
  }
}

.line-break-card {
  background-color: $black;
  opacity: 1;
  position: relative;
  width: calc(100% + 31px);
  left: -31px;
}

.card-price {
  font-weight: 500;
  text-transform: uppercase;
}

.bg-creme {
  background-color: $creme;
}
