h1 {
  font-size: 25px;
}

h2 {
  font-size: 18px ;
  color: grey;
  font-family: 'Work Sans', sans-serif;
}

h3 {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
}

.favorite {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: white;
  opacity: 0.3;
}

.favorited {
  color: red;
  opacity: 1;
}

.border {
  border-radius: 20px;
}

.border-image {
  border-top-right-radius: none;
  border-top-left-radius: none;
}
