.filter-form {
  width: 100%;
  overflow: hidden;
  padding-top: 30px;
  border-bottom: 2px solid $black;

  legend {
    padding-right: 20px;
    font-size: inherit;
  }

  abbr {
    display: none;
  }

  label {
    font-size: 18px;
    border: none;
  }
}


.filter_tags {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-bottom: 0;
  color: $creme;

  &::-webkit-scrollbar {
    display: none;
  }
}

.filter_tags legend {
  background-color: $black;
  padding-left:20px;
  padding-right: 20px;
  padding-top: 0;
}

.tag-item {
  // display: inline-block;
  background-color: $creme;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: $creme;
  color: $black;
  border: 1px solid $black;
  white-space: nowrap;
}

.tag-selector:checked + label {
  background-color: $black;
  color: $creme;
  border: 1px solid $black;
}

.simple_form filter{
  padding-left: 0px !important;
}

.tag-selector{
  background-color: $black;
  color: $creme;
}
