.filter-form {
  width: 100%;
  overflow: hidden;
  padding-top: 30px;
  border-bottom: 1px solid $black;

  abbr {
    display: none;
  }

  label {
    font-size: 18px;
    border: none;
  }
}

.filter {
  padding-left: 0;
  padding-right: 0;
}

.filter_tags {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-bottom: 0;
  color: $creme;
  border-bottom: 1px solid $black;
  padding-right: 10px;

  &::-webkit-scrollbar {
    display: none;
  }

  .tag-item:first-of-type {
    margin-left: 150px;
  }

  .tag-item {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.filter_tags legend {
  position: absolute;
  width: fit-content;
  padding: 20px 20px !important;
  margin-right: 8px;
  text-transform: uppercase;
  font-size: inherit;

  background-color: $black;
  color: $creme;
  font-weight: 500;

  // background-color: $creme;
  // color: $black;
  // border-right: 1px solid $black
}

.tag-item {
  // display: inline-block;
  background-color: $creme;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: $creme;
  color: $black;
  border: 1px solid $black;
  white-space: nowrap;
}

.tag-selector:checked + label {
  background-color: $black;
  color: $creme;
  border: 1px solid $black;
}

.simple_form filter {
  padding-left: 0px !important;
}

.tag-selector {
  background-color: $black;
  color: $creme;
}
