.marker-pin {
  background-color: #201E1E;
  width: 20px; /* Ajustez la largeur du marqueur selon vos préférences */
  height: 20px; /* Ajustez la hauteur du marqueur selon vos préférences */
  border-radius: 50%;
  border: 2px solid #fff; /* Ajoutez une bordure blanche si nécessaire */
}

.liked {
  background-image: url("../../images/logo.svg");
}
