$margin-modal: 30px;

.margin-modal-left {
  margin-left: $margin-modal;
}

// .modal {
//   display: none; /* Hidden by default */
//   position: fixed; /* Stay in place */
//   z-index: 1; /* Sit on top */
//   padding-top: 100px; /* Location of the box */
//   left: 0;
//   top: 0;
//   width: 100%; /* Full width */
//   height: 100vh; /* Full height */
//   overflow: auto; /* Enable scroll if needed */
//   background-color: rgb(0, 0, 0); /* Fallback color */
//   background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
// }

// /* Modal Content */
// .modal-content {
//   position: relative;
//   border-top-right-radius: 30px;
//   border-top-left-radius: 30px;
//   background-color: $creme;
//   padding: 0;
//   width: 100%;
//   height: 100%;

//   -webkit-animation-name: animatebottom;
//   -webkit-animation-duration: 0.4s;
//   animation-name: animatebottom;
//   animation-duration: 0.4s;
// }

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

}


/* Modal Content */
.modal-content {
  position: relative;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: $creme;
  padding: 0;
  width: 100%;
  height: fit-content;

  opacity: 0;
  top: 100%;

  transition: top 0.4s, opacity 0.4s;
}

.modal-content.show-modal-content {
  top: 0;
  opacity: 1;
}

.modal-close-animation {
  -webkit-animation-name: animateclose;
  -webkit-animation-duration: 0.4s;
  animation-name: animateclose;
  animation-duration: 0.4s;
}

.modal-footer {
  border-top: none;
  margin-left: $margin-modal;
  margin-right: $margin-modal;
}

/* Add Animation */
@-webkit-keyframes animatebottom {
  from {
    top: calc(100vh + 100px);
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    top: calc(100vh + 100px);
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes animateclose {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: calc(100vh + 100px);
    opacity: 0;
  }
}

@keyframes animateclose {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: calc(100vh + 100px);
    opacity: 0;
  }
}

/* The Close Button */
.close {
  color: $black;
  float: right;
  margin: 18px auto;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: $black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  margin-right: $margin-modal;
  margin-left: $margin-modal;

  border-bottom: none;

  color: $black;
  display: flex;
  flex-direction: column;

  h2 {
    text-align: start;
  }
}

.modal-body {
  margin-right: $margin-modal;
}

.modal-footer {
  color: $black;
}

.grid-component {
  width: $margin-modal + 2px;
  flex-grow: 1;
}

.image-block {
  height: fit-content;
}

.modal-image {
  margin: auto $margin-modal;
  width: calc(100% - 30px);
  object-fit: cover;
}

.modal-info-primary {
  font-size: 18px;
  line-height: 1.2rem;
}

.infos {
  margin-left: $margin-modal;
  padding-bottom: 20px;
}

.line-break-modal {
  background-color: $black;
  opacity: 1;
}

.modal-info-content {
  font-size: 20px;
}

.modal-content-text {
  font-size: 18px;
  line-height: 1.4rem;
}
