
.navbar {
  position: fixed;
  bottom: 0;
}

.my-nav {
  box-sizing: border-box;
  z-index: 3;
  background-color: $creme;
  align-items: center;
  width: 100%;
  border-top: 1px solid $black;
}

.navbar-icon {
  display: flex;
  flex: 1;
  align-items: center;
  width: 30px;
  height: 30px;
  // padding: 10px;
}

#icon {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

#icon div {
  flex: 1;
  display: flex;
  align-items: center;
}
